:root {
  --hover-color: #2196f3;
  --title-color: #212121;
  --text-color: #757575;
  --white-text: #ffffff;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: roboto, sans-serif;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

h1,
h2,
h3,
p {
  margin: 0px;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06em;
  background-color: var(--hover-color);
  color: var(--white-text);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-width: 0px;
}

.hero__button {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding: 16px 32px;
  margin-top: 30px;
}

.subscribe-button {
  background: var(--hover-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-width: 0px;
  color: var(--white-text);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.subscribe-button__size {
  margin-top: 20px;
  width: 200px;
  height: 50px;
}

.subscribe-button__icon {
  fill: white;
}

.logo {
  font-family: Raleway, sans-serif;
  text-decoration: none;
  color: inherit;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.logo__item {
  color: var(--hover-color);
}

.header__logo {
  margin-right: 93px;
}

.contact-list {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-list:hover, .contact-list:focus {
  color: var(--hover-color);
}

.contact-list:focus .adress-icon,
.contact-list:hover .adress-icon {
  fill: var(--hover-color);
}

.adress-icon {
  fill: var(--text-color);
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}

.hero__title {
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-text);
}

.advantage__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.development__title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  overflow-y: auto;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  padding: 15px;
}

.modal__window {
  position: relative;
  width: 528px;
  height: 581px;
  padding: 40px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: #fff;
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  text-align: center;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
}

.close-button:focus-within > .close-button__icon,
.close-button:hover > .close-button__icon {
  fill: var(--hover-color);
}

.close-button__icon {
  fill: #000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__title {
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__field {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 10px;
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--text-color);
  margin-bottom: 4px;
}

.form__input {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:focus-within {
  border: 1px solid var(--hover-color);
}

.form__input:focus-within + .form__icon {
  fill: var(--hover-color);
}

.form__textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 448px;
  outline: none;
  padding-top: 12px;
  padding-left: 16px;
}

.form__textarea:focus-within {
  border: 1px solid var(--hover-color);
}

.form__textarea::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__checkbox-label {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-top: 20px;
  margin-bottom: 30px;
}

.form__checkbox-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--hover-color);
}

.form__checkbox-label::before {
  content: "";
  width: 16px;
  height: 15px;
  display: inline-block;
  border: 1.7px solid #212121;
  border-radius: 2px;
  margin-right: 8px;
  position: relative;
  top: 2px;
}

.form__checkbox:checked + .form__checkbox-label::before {
  background-image: url(../images/icons/newicons/check.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: var(--hover-color);
  border-color: var(--hover-color);
}

.submit-button {
  width: 200px;
  height: 50px;
  background-color: var(--hover-color);
  color: var(--white-text);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.submit-button:focus, .submit-button:hover, .submit-button:active {
  background-color: #188ce8;
}

.soc-icons {
  list-style: none;
  padding-left: 0px;
  display: flex;
  justify-content: center;
  margin-top: 18px;
  margin-bottom: 0px;
  margin-right: 0;
  margin-left: 0;
}

.soc-icons__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-icons__link:hover, .soc-icons__link:focus {
  background-color: var(--hover-color);
}

.soc-icons__link:hover > .soc-icons__svg,
.soc-icons__link:focus > .soc-icons__svg {
  fill: #ffffff;
}

.soc-icons__item:not(:last-child) {
  margin-right: 10px;
}

.soc-icons__svg {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 25px;
}

.menu {
  display: inline-flex;
}

.menu__item:not(:last-child) {
  margin-right: 50px;
}

.navigation {
  margin-right: auto;
}

.list {
  list-style: none;
  margin: 0px;
  padding-left: 0px;
}

.link {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link::after {
  content: "";
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  position: absolute;
  bottom: -33px;
  left: 0;
  opacity: 0;
  background-color: var(--hover-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover, .link:focus {
  color: var(--hover-color);
}

.link:hover::after, .link:focus::after {
  opacity: 1;
}

.link.is-active {
  color: var(--hover-color);
}

.link.is-active::after {
  opacity: 1;
}

.hero {
  background-color: #c4c4c4;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero__overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero.jpg");
}

.advantage__section {
  padding-bottom: 0px;
}

.list__container {
  display: flex;
}

.list__item:not(:last-child) {
  margin-right: 30px;
}

.advantage__icon {
  width: 270px;
  height: 120px;
  padding: 25px 100px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.advantage__text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.development__thumb {
  position: relative;
}

.development__sub-title {
  color: var(--white-text);
  text-align: center;
  margin-top: 27px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.team {
  background-color: #f5f4fa;
}

.team__item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__sub-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.team__text-container {
  border: 1px solid #eeeeee;
  border-top: 0px;
  border-radius: 0px 0px 4px 4px;
  padding: 30px 24px;
}

.team__text {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--text-color);
}

.client__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.client__link {
  display: flex;
  width: 170px;
  height: 90px;
}

.client__link:hover .client__icon,
.client__link:focus .client__icon {
  fill: var(--hover-color);
  border-color: var(--hover-color);
}

.client__icon {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__container {
  display: flex;
}

.footer__bcg {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.address {
  font-style: inherit;
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
  color: var(--white-text);
}

.footer-list__item {
  margin-top: 10px;
  margin-bottom: 10px;
}

.footer__socials {
  margin-left: 70px;
  margin-bottom: 100px;
}

.footer__socials-text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--white-text);
}

.footer__contacts {
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer__contacts:hover {
  color: var(--hover-color);
}

.footer__contacts:focus {
  color: var(--hover-color);
}

.footer__text {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: var(--white-text);
}

.footer-socials-list {
  display: flex;
}

.footer__socials-icons {
  list-style: none;
  padding-left: 0px;
  display: flex;
  justify-content: center;
  margin-top: 18px;
}

.footer__socials-icons--link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__socials-icons--link:hover, .footer__socials-icons--link:focus {
  background-color: var(--hover-color);
}

.footer__socials-icons--item:not(:last-child) {
  margin-right: 10px;
}

.footer__socials-icons--svg {
  fill: #ffffff;
}

.footer__form {
  margin-left: 93px;
}

.footer__form--place {
  display: flex;
}

.footer__form--field {
  margin-top: 20px;
  margin-right: 12px;
  width: 358px;
  height: 50px;
  padding-left: 16px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  font-family: roboto, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  color: var(--white-text);
}

.footer__form--field::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
}

.portfolio {
  display: inline-flex;
  flex-wrap: wrap;
}

.portfolio__element {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
}

.portfolio__element:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__element:hover .portfolio__overlay {
  transform: translateY(-100%);
}

.portfolio__element:nth-child(3n) {
  margin-right: 0;
}

.portfolio__element:nth-child(n + 7) {
  margin-bottom: 0;
}

.portfolio__thumb {
  position: relative;
  overflow: hidden;
}

.portfolio__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  text-align: left;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--white-text);
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__text-container {
  border: 1px solid #eeeeee;
  border-top: 0px;
  border-radius: 0px 0px 4px 4px;
  padding: 30px 24px;
}

.portfolio__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio__text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.portfolio__link {
  text-decoration: none;
  color: inherit;
}

.button-list {
  display: flex;
  justify-content: center;
}

.button-list--position {
  margin-bottom: 50px;
}

.button-list .button-list__thumb:not(:last-child) {
  margin-right: 8px;
}

.button-list__item {
  font-family: inherit;
  background-color: #f5f4fa;
  color: var(--title-color);
  font-weight: 500;
  font-size: 16px;
  border-width: 0px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  border-radius: 4px;
  padding: 6px 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-list__item:hover, .button-list__item.is-active, .button-list__item:active {
  background-color: var(--hover-color);
  color: var(--white-text);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Header */
/* Logo */
/* Navigation */
/* Contacts */
/* Hero */
/* Advantage section */
/* Development section */
/* Job */
/* Team */
/* Clients */
/* Footer */
/*          Portfolio            */
/*Description*/
/* Modal Window */
/*# sourceMappingURL=main.css.map */