/* основые цвета */
/* hover-color #2196F3
    title-color #212121
    text-color #757575
 */
:root {
  --hover-color: #2196f3;
  --title-color: #212121;
  --text-color: #757575;
  --white-text: #ffffff;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: roboto, sans-serif;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
h1,
h2,
h3,
p {
  margin: 0px;
}
img {
  display: block;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
/* Header */
/* Logo */
.header-container {
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

.logo {
  margin-right: 93px;

  font-family: Raleway, sans-serif;
  text-decoration: none;
  color: inherit;

  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.logo-item {
  color: var(--hover-color);
}

/* Navigation */
.menu {
  display: inline-flex;
}
.menu-item:not(:last-child) {
  margin-right: 50px;
}
.navigation {
  margin-right: auto;
}
.list {
  list-style: none;
  margin: 0px;
  padding-left: 0px;
}
.link {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.link:hover {
  color: var(--hover-color);
}
.link:focus {
  color: var(--hover-color);
}
.link.is-active {
  color: var(--hover-color);
}

/* Contacts */

.contact-list {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contact-list:hover {
  color: var(--hover-color);
}
.contact-list:focus {
  color: var(--hover-color);
}
.adress-icon {
  fill: var(--text-color);
  margin-right: 10px;
}
.contact-list:focus .adress-icon,
.contact-list:hover .adress-icon {
  fill: var(--hover-color);
}

/* Hero */
.hero {
  background-color: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-text);
}

.button {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
  margin-top: 30px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06em;
  background-color: var(--hover-color);
  color: var(--white-text);
  cursor: pointer;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-width: 0px;
}

/* Advantage section */

.adv-section {
  padding-bottom: 0px;
}

.list-container {
  display: flex;
}
.list-item:not(:last-child) {
  margin-right: 30px;
}
.icon-box {
  width: 270px;
  height: 120px;
  padding: 25px 100px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
}
.adv-icon {
  width: 70px;
  height: 70px;
}
.sub-title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}
.text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

/* Job */
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Team */
.dif-section {
  background-color: #f5f4fa;
}
.team-item {
  background: #ffffff;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.list-item > .text-container {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-sub-title {
  /* margin-top: 30px; */
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-text {
  /* margin-bottom: 30px; */

  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--text-color);
}

.soc-icons {
  list-style: none;
  padding-left: 0px;
  display: flex;
  justify-content: center;
  margin-top: 18px;
}
.soc-icons-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
}
.soc-icons-item:not(:last-child) {
  margin-right: 10px;
}
.soc-icons-link:hover,
.soc-icons-link:focus {
  background-color: var(--hover-color);
}

.soc-icons-svg {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}
.soc-icons-link:hover > .soc-icons-svg,
.soc-icons-link:focus > .soc-icons-svg {
  fill: #ffffff;
}
.client-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* .client-item:not(:last-child) {
  margin-right: 30px;
} */
.client-link {
  display: flex;
  width: 170px;
  height: 90px;
}
.client-icon {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
}
.client-link:hover .client-icon,
.client-link:focus .client-icon {
  fill: var(--hover-color);
  border-color: var(--hover-color);
}

/* Footer */
.footer-container {
  display: flex;
}
.footer-bcg {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: #2f303a;
}
.address {
  font-style: inherit;
}
.footer-logo {
  display: inline-block;
  margin-bottom: 20px;

  font-family: Raleway, sans-serif;
  text-decoration: none;
  color: var(--white-text);

  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.footer-list-item {
  margin-top: 10px;
  margin-bottom: 10px;
}
.footer-socials {
  margin-left: 70px;
  margin-bottom: 100px;
  margin-right: auto;
}
.footer-socials-text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--white-text);
}
.footer-contacts {
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-contacts:hover {
  color: var(--hover-color);
}
.footer-contacts:focus {
  color: var(--hover-color);
}

.footer-text {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: var(--white-text);
}
.footer-socials-list {
  display: flex;
}
.footer-socials-icons {
  list-style: none;
  padding-left: 0px;
  display: flex;
  justify-content: center;
  margin-top: 18px;
}
.footer-socials-icons-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}
.footer-socials-icons-item:not(:last-child) {
  margin-right: 10px;
}
.footer-socials-icons-link:hover,
.footer-socials-icons-link:focus {
  background-color: var(--hover-color);
}

.footer-socials-icons-svg {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}
.footer-socials-icons-link:hover > .footer-socials-icons-svg,
.footer-socials-icons-link:focus > .footer-socials-icons-svg {
  fill: #ffffff;
}

/*          Portfolio            */

.container > .btn-list {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}
.btn-item:not(:last-child) {
  margin-right: 8px;
}
/* Button */
.portfolio-button {
  font-family: inherit;
  background-color: #f5f4fa;
  color: var(--title-color);

  font-weight: 500;
  font-size: 16px;
  border-width: 0px;

  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  padding: 6px 22px;
}
.portfolio-button.is-active {
  background-color: var(--hover-color);
  color: var(--white-text);
}
.portfolio-button:hover {
  background-color: var(--hover-color);
  color: var(--white-text);
}
.portfolio-button:active {
  background-color: var(--hover-color);
  color: var(--white-text);
}

/*Description*/

.portfolio-list {
  display: inline-flex;
  flex-wrap: wrap;
}

.portfolio-element {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}
.portfolio-element:nth-child(3n) {
  margin-right: 0;
}
.portfolio-element:nth-child(n + 7) {
  margin-bottom: 0;
}
.text-container {
  border: 1px solid #eeeeee;
  border-top: 0px;
  padding: 20px 24px;
}
.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
