@import "./utils/variables";

@import "./base/common";
@import "./base/container";

@import "./components/button";
@import "./components/logo";
@import "./components/contacts";
@import "./components/title";
@import "./components/contact-form";
@import "./components/socials-icons";

@import "./layouts/sections";
@import "./layouts/header";
@import "./layouts/navigation";
@import "./layouts/hero";
@import "./layouts/advantages";
@import "./layouts/development";
@import "./layouts/team";
@import "./layouts/clients";
@import "./layouts/footer";

@import "./pages/portfolio";
/* Header */

/* Logo */

/* Navigation */

/* Contacts */

/* Hero */

/* Advantage section */

/* Development section */

/* Job */

/* Team */

/* Clients */

/* Footer */

/*          Portfolio            */

/*Description*/

/* Modal Window */
