.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.2);

  overflow-y: auto;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  padding: 15px;
}

.modal__window {
  position: relative;
  width: 528px;
  height: 581px;
  padding: 40px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: #fff;
}
.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  text-align: center;
  box-sizing: border-box;

  width: 30px;
  height: 30px;
  &:focus-within > .close-button__icon,
  &:hover > .close-button__icon {
    fill: var(--hover-color);
  }
}

.close-button__icon {
  fill: #000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__title {
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form__field {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 10px;
}
.form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: var(--text-color);
  margin-bottom: 4px;
}

.form__input {
  width: 448px;
  height: 40px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  padding-left: 42px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus-within {
    border: 1px solid var(--hover-color);
  }
  &:focus-within + .form__icon {
    fill: var(--hover-color);
  }
}

.form__textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 448px;
  outline: none;

  &:focus-within {
    border: 1px solid var(--hover-color);
  }

  &::placeholder {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
    padding-top: 11px;
    padding-left: 15px;
  }
}

.form__checkbox-label {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--text-color);

  margin-top: 20px;
  margin-bottom: 30px;
}
.form__checkbox-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: var(--hover-color);
}

.form__checkbox-label::before {
  content: "";
  width: 16px;
  height: 15px;
  display: inline-block;

  border: 1.7px solid #212121;
  border-radius: 2px;
  margin-right: 8px;

  position: relative;
  top: 2px;
}

.form__checkbox:checked + .form__checkbox-label::before {
  background-image: url(../images/icons/newicons/check.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: var(--hover-color);
  border-color: var(--hover-color);
}

.submit-button {
  width: 200px;
  height: 50px;
  background-color: var(--hover-color);

  color: var(--white-text);

  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  &:focus,
  &:hover,
  &:active {
    background-color: #188ce8;
  }
}
