.contact-list {
  display: flex;
  align-items: center;

  text-decoration: none;
  color: var(--text-color);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--hover-color);
  }
  &:focus .address-icon,
  &:hover .address-icon {
    fill: var(--hover-color);
  }
}
.address-icon {
  fill: var(--text-color);
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
