.logo {
  font-family: Raleway, sans-serif;
  text-decoration: none;
  color: inherit;

  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.logo__item {
  color: var(--hover-color);
}
.header__logo {
  margin-right: 93px;
}
