.portfolio {
  display: inline-flex;
  flex-wrap: wrap;
}

.portfolio__element {
  width: 100%;

  margin-bottom: 30px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;

  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  &:hover .portfolio__overlay {
    transform: translateY(-100%);
  }
  &:nth-child(3n) {
    @media screen and (min-width: 1200px) {
      margin-right: 0;
    }
  }
  &:nth-child(n + 7) {
    @media screen and (min-width: 1200px) {
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
    margin-right: 30px;
    width: calc((100% - 60px) / 2);
  }

  @media screen and (min-width: 1200px) {
    margin-right: 30px;
    width: calc((100% - 60px) / 3);
  }
}
.portfolio__thumb {
  position: relative;
  overflow: hidden;
}

.portfolio__overlay {
  position: absolute;

  width: 100%;
  height: 100%;

  padding: 63px 24px;
  text-align: left;

  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  color: var(--white-text);
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__text-container {
  border: 1px solid #eeeeee;
  border-top: 0px;
  border-radius: 0px 0px 4px 4px;
  padding: 30px 24px;
}
.portfolio__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio__text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.portfolio__link {
  text-decoration: none;
  color: inherit;
}

.button-list {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;

  @media screen and (min-width: 768px) {
    justify-content: center;
  }
}
.button-list--position {
  margin-bottom: 50px;
}
.button-list__thumb:not(:last-child) {
  margin-right: 8px;
}
.button-list__thumb:nth-child(-n + 3) {
  margin-bottom: 15px;

  @media screen and (min-width: 768px) {
    margin-bottom: 0px;
  }
}
.button-list__item {
  font-family: inherit;
  background-color: #f5f4fa;
  color: var(--title-color);

  font-weight: 500;
  font-size: 16px;
  border-width: 0px;

  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;

  border-radius: 4px;
  padding: 6px 22px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &.is-active,
  &:active {
    background-color: var(--hover-color);
    color: var(--white-text);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
