.development__thumb {
  position: relative;
}

.development__sub-title {
  color: var(--white-text);
  text-align: center;
  margin-top: 27px;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}
