.hero {
  background-color: #c4c4c4;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero__overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero.jpg");
}
